@use 'variables' as *;

@mixin titleFont {
    font-family: atrament-web, sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin textFont {
    font-family: irohamaru, sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin imgSize {
    background: no-repeat center;
    background-size: contain;
    width: 260px;
    height: 260px;
}

@mixin imgWorks {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 250px;
    height: 200px;
    object-fit: contain;
    border: #bbb 1px solid;
    margin: 0 auto;
    transition: 0.3s ease;
}

@mixin flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 970px;
    margin: 0 auto;
    align-items: center;
}

@mixin h3UnderLine {
    text-decoration: underline $cYellow 1.5px;
    text-decoration-skip-ink: none;
    text-underline-offset: 5px;
}

@mixin worksTitle {
    font-size: 18px;
    margin-bottom: 30px;
}

@mixin imgPortfolioFrame {
    background: url(../images/sand.png) no-repeat;
    background-size: contain;
    width: 550px;
    height: 550px;
    position: absolute;
    z-index: -1;
}