@charset "UTF-8";

@use 'variables' as *;
@use 'mixin';

* {
    box-sizing: border-box;
    letter-spacing: 0.13rem;
    line-height: 1.5;
}

html {
    color: $cBlack;
    @include mixin.textFont;
    scroll-behavior: smooth;
}

section {
    padding: 20px;
    margin-bottom: 100px;
}

h2 {
    @include mixin.titleFont;
    font-size: 30px;
    padding-top: 100px;
    margin-bottom: 50px;

    &::before {
        content: "";
        background-color: $cYellow;
        padding: 11px;
        margin: 0 10px;
        display: inline-block;
        transform: rotate(45deg);
    }
}

img,
a {
    display: block;
}

#loading__wrap {
    background: $cBlack;
    text-align: center;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;

    #loading__logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        img {
            width: 260px;
        }

        .loading__fadeUp--logo {
            animation: loadingAnime__logo 1.0s forwards;
            opacity: 0;
        }

        @keyframes loadingAnime__logo {
            from {
                opacity: 0;
                transform: translateY(100px)
            }

            to {
                opacity: 1;
                transform: translateY(0) rotateZ(45deg);
            }
        }

    }
}

#header {
    padding-bottom: 100px;

    .header__wrap {
        background-color: $cWhite;
        width: 100%;
        height: 100px;
        margin-bottom: 50px;
        display: flex;
        position: fixed;
        z-index: 2;

        .header__img--logo {
            background: url(../images/logo_bar_ver2.png) no-repeat center;
            background-size: contain;
            width: 147px;
            height: 100px;
        }
    }
}

#header__g-nav {
    @include mixin.titleFont;
    position: absolute;
    right: 50px;

    ul {
        width: 350px;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
            a {
                line-height: 1.0;
                color: $cBlack;
                font-size: 20px;
                text-decoration: none;
                display: inline-block;
                position: relative;
                transition: .3s;

                &::after {
                    width: 0;
                    height: 2px;
                    content: '';
                    background-color: $cYellow;
                    position: absolute;
                    bottom: -7px;
                    left: 0;
                    transition: .3s;
                }

                &:hover {
                    color: $cYellow;

                    &::after {
                        width: 100%;
                    }
                }
            }
        }
    }
}

#main__index {
    padding-top: 80vh;
}

#mv {
    .mv__frame--brack {
        background-color: $cWhite;
        width: 95%;
        height: 75vh;
        border: $cBlack solid 5px;
        border-radius: 5px;
        position: absolute;
        top: 100px;
        left: 20px;
        z-index: 1;

        .mv__wrap--logo {
            max-width: 890px;
            margin: 0 auto;

            .mv__top--logo {
                width: 890px;
                height: 210px;
                background: url(../images/logo-tokei.png) no-repeat center;
                background-size: contain;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
            }

            h1 {
                @include mixin.titleFont;
                font-weight: normal;
                font-size: 40px;
                text-align: center;
                position: absolute;
                bottom: 70px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    .mv__frame--yellow {
        width: 95%;
        height: 75vh;
        border: $cYellow solid 5px;
        border-radius: 5px;
        position: absolute;
        top: 130px;
        right: 20px;
    }
}

/* index-about */

#about {
    .wrap__about {
        @include mixin.flex;

        .wrap__img--profile {
            @include mixin.imgSize;
            background-image: url(../images/prof-img.jpg);
            margin: 0 auto;
        }

        .wrap__about--right {
            max-width: 600px;
            margin: 0 auto;
        }
    }
}

#skills {
    &>ul {
        h3 {
            font-size: 25px;
            @include mixin.titleFont;
            @include mixin.h3UnderLine;
        }

        .skills__li--flex {
            @include mixin.flex;
            margin-bottom: 100px;

            &:last-child {
                margin-bottom: 0;
            }

            &>ul {
                max-width: 600px;
                margin: 0 auto;
                list-style: none;

                li {
                    margin-bottom: 20px;

                    .laravel-ver9 {
                        font-size: 18px;
                    }
                }
            }

            .skills__img--frontend-tools {
                @include mixin.imgSize;
                background-image: url(../images/frontdev_img.png);
            }

            .skills__img--backend-tools {
                @include mixin.imgSize;
                background-image: url(../images/backdev_img.png);
            }

            .skills__img--other-tools {
                @include mixin.imgSize;
                background-image: url(../images/other_tools.png);
            }
        }
    }
}

#works {
    padding: 0;
    margin-bottom: 0;

    h2 {
        color: $cWhite;
    }

    .works__bg {
        background: url(../images/bg.jpg) center repeat;
        background-size: contain;
        width: 100%;
        padding: 20px;

        .works__ul {
            max-width: 1440px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: space-evenly;
            list-style: none;

            li {
                .works__wrap {
                    background-color: #f3f3f3;
                    width: 300px;
                    padding: 20px;
                    margin: 20px auto;

                    .works__description {
                        height: 400px;
                        overflow: auto;

                        dl {
                            dt {
                                margin-bottom: 8px;
                                font-weight: bold;
                            }

                            dd {
                                margin-bottom: 25px;

                                &::after {
                                    content: "";
                                    border-bottom: $cYellow 1.5px solid;
                                    width: 100px;
                                    display: block;
                                    margin: 25px auto;
                                }

                                &:last-child::after {
                                    content: none;
                                }

                                .works__description--ul li::before {
                                    content: "・";
                                }
                            }

                            .works__margin-top {
                                margin-top: 25px;
                            }

                            .works__title {
                                font-size: 18px;
                            }

                            .works__title1 {
                                @include mixin.worksTitle;

                                span {
                                    font-family: 'Aoboshi One', serif;
                                }
                            }

                            .works__title2 {
                                @include mixin.worksTitle;

                                span {
                                    font-family: 'Sawarabi Gothic', sans-serif;
                                }
                            }

                            .works__title3 {
                                @include mixin.worksTitle;

                                span {
                                    font-family: atrament-web, sans-serif;
                                }
                            }

                            .works__obsession p {
                                margin-bottom: 25px;
                            }
                        }
                    }

                    .works__img {
                        position: relative;

                        .works1 {
                            @include mixin.imgWorks;
                            background-image: url(../images/animal-cafe-large.jpg);

                            &:hover {
                                opacity: 0.5;
                            }
                        }

                        .works2 {
                            @include mixin.imgWorks;
                            background-image: url(../images/school-large.png);

                            &:hover {
                                opacity: 0.5;
                            }
                        }

                    }

                    .works3 {
                        @include mixin.imgWorks;
                        background-image: url(../images/bc.png);
                    }
                }
            }
        }
    }
}

/* works-fadeup */
.works__wrap--fadeUp {
    opacity: 0;
}

.fadeUp {
    animation: fadeUpAnime 0.8s forwards;
    opacity: 0;
}

@keyframes fadeUpAnime {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.works-andmore a {
    font-family: atrament-web, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 30px 43px 30px 30px;
    width: 260px;
    color: #333;
    font-size: 24px;
    text-decoration: none;
    background-color: #d1af10;
    border-radius: 5px;
    transition: .3s ease;
}

.works-andmore a::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: #f3f3f3;
    border-radius: 20px;
}

.works-andmore a::after {
    content: "";
    transform: rotate(45deg);
    width: 6px;
    height: 6px;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
}

.works-andmore a:hover {
    opacity: 0.7;
}


#portfolio {
    width: 100%;
    padding: 20px;
    position: relative;

    .portfolio__frame--top {
        @include mixin.imgPortfolioFrame;
        transform: rotate(270deg);
        top: 0;
        right: 0;
    }

    .portfolio__wrap--obsession {
        max-width: 970px;
        margin: 0 auto;

        .portfolio__obsession {
            margin-bottom: 40px;

            .portfolio__subtitle {
                @include mixin.titleFont;
                font-size: 25px;
                margin: 50px 0 15px;
            }

            .portfolio__description {
                .portfolio__img--logo {
                    width: 270px;
                    height: 100%;
                    margin-bottom: 20px;
                }

                p {
                    margin-bottom: 15px;
                }
            }
        }
    }

    .portfolio__frame--bottom {
        @include mixin.imgPortfolioFrame;
        transform: rotate(90deg);
        bottom: 0;
        left: 0;
    }
}

#contact {
    .contact__description {
        margin: 0 auto 50px;
        max-width: 600px;

        span {
            font-weight: bold;
        }

        p {
            margin-bottom: 15px;
        }

        &>div:last-child p::before {
            content: "※";
        }
    }

    .contact__form {
        dl {
            max-width: 600px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            dt {
                font-size: 18px;
                text-align: right;
                width: 40%;
                padding: 10px;
                margin-bottom: 20px;
            }

            dd {
                font-size: 18px;
                width: 60%;
                margin-bottom: 20px;

                input[type="text"],
                input[type="email"],
                input[type="tel"] {
                    width: 100%;
                    padding: 5px;
                }

                textarea {
                    width: 100%;
                    height: 150px;
                    padding: 5px;
                }

            }
        }

        .contact__btn--submit {
            @include mixin.textFont;
            border: $cYellow solid 2px;
            border-radius: 2px;
            padding: 14px 30px;
            margin: 0 auto;
            position: relative;
            display: flex;
            transition: 0.3s ease-in-out;

            &::before {
                content: '';
                position: absolute;
                top: -5px;
                left: -5px;
                padding: 24px 46px;
                border: $cBlack solid 2px;
                border-radius: 2px;
                transition: 0.2s;
            }

            &:hover {
                text-decoration: none;
                background-color: $cYellow;
                cursor: pointer;

                &::before {
                    top: -2px;
                    left: -2px;
                }
            }
        }
    }
}

#footer {
    background-color: $cYellow;
    width: 100%;
    height: 30px;

    p {
        @include mixin.titleFont;
        font-size: 12px;
        text-align: center;
        padding-top: 7px;
    }
}

/* 以下レスポンシブ対応 */

@media screen and (max-width:1080px) {
    #header {
        .header__wrap {
            .header__img--logo {
                margin: 0 auto;
            }
        }
    }

    #mv {

        .mv__frame--brack,
        .mv__frame--yellow {
            width: 90%;
        }
    }


    #skills {

        .skills__img--frontend-tools,
        .skills__img--backend-tools,
        .skills__img--other-tools {
            margin: 0 auto 50px;
        }
    }

    .andmore-top-wrap,
    .andmore-top-wrap-yellow {
        width: 90%;
    }
}

@media screen and (max-width:970px) {
    #mv {
        .mv__wrap--logo {
            padding-top: 50px;
        }

        .mv__top--logo {
            display: none;
        }

        .mv__top--sp-logo {
            background: url(../images/logo_bar_ver2.png) center no-repeat;
            background-size: contain;
            width: 250px;
            height: 250px;
            margin: 0 auto 20px;
        }

        h1 {
            padding-bottom: 5px;
            bottom: 0;
        }
    }
}

@media screen and (max-width:767px) {

    #header {
        padding-bottom: 70px;

        .header__wrap {
            height: 70px;

            .header__img--logo {
                height: 70px;
                margin-left: -30px;
            }
        }
    }

    #header__g-nav {
        background: rgba(245, 245, 245, 0.9);
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: 999;
        top: -120%;
        left: 0;
        transition: all 0.6s;

        ul {
            display: inline-block;
            position: absolute;
            z-index: 999;
            top: 200px;
            left: 50%;
            transform: translateX(-50%);

            li {
                margin-bottom: 40px;
                text-align: center;
            }
        }

        &.panelactive {
            top: 0;
        }
    }

    #btn__hbg-menu {
        width: 50px;
        height: 50px;
        position: fixed;
        z-index: 9999;
        top: 10px;
        right: 10px;
        cursor: pointer;

        span {
            background-color: $cBlack;
            border-radius: 2px;
            width: 45%;
            height: 3px;
            display: inline-block;
            position: absolute;
            left: 14px;
            transition: all .4s;

            &:nth-of-type(1) {
                top: 15px;
            }

            &:nth-of-type(2) {
                top: 23px;
            }

            &:nth-of-type(3) {
                top: 31px;
            }
        }

        &.active span:nth-of-type(1) {
            width: 30%;
            top: 18px;
            left: 18px;
            transform: translateY(6px) rotate(-45deg);
        }

        &.active span:nth-of-type(2) {
            opacity: 0;
        }

        &.active span:nth-of-type(3) {
            width: 30%;
            top: 30px;
            left: 18px;
            transform: translateY(-6px) rotate(45deg);
        }
    }

    #mv {
        .mv__frame--brack {
            top: 70px;
            left: 5px;
        }

        .mv__frame--yellow {
            top: 120px;
            right: 5px;
        }
    }

    h2 {
        padding-top: 70px;
    }

    .works-andmore a {
        width: 200px;
        padding: 10px 23px 10px 10px;
    }

    .works-andmore a::before {
        right: 10px;
    }

    #contact {
        .contact__form {
            dl {
                display: block;

                dt {
                    text-align: left;
                    width: 40%;
                    margin-bottom: 0;
                }

                dd {
                    width: 100%;
                    margin-bottom: 30px;

                    input[type="text"],
                    input[type="email"],
                    input[type="tel"] {
                        padding: 8px;
                    }
                }
            }
        }
    }

    .andmore-top-wrap {
        top: 70px;
        left: 5px;
    }

    .andmore-top-wrap-yellow {
        top: 120px;
        right: 5px;
    }

    .andmore-works {
        display: block;
    }

    .andmore-works img {
        margin: 0 auto 50px;
    }

    .click-higuma {
        margin-top: 0;
    }
}

@media screen and (max-width:660px) {
    #portfolio {
        .portfolio__frame--top,
        .portfolio__frame--bottom {
            width: 300px;
            height: 300px;
        }
    }

    #contact {
        .contact__form dl dt {
            width: 100%;
        }
    }

}

@media screen and (max-width:400px) {

    .works-andmore a {
        left: 50%;
        transform: translateX(-50%);
    }
    #portfolio {
        .portfolio__wrap--obsession {
            .portfolio__obsession {
                margin-bottom: 80px;
            } 
        }
    }

    .andmore-body main {
        padding-left: 10px;
        padding-right: 10px;
    }
}