/* ................Loading背景画面設定.................*/
/* .splash-wrap {
    background: #333;
    text-align: center;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
}

#splash_logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#splash_logo img {
    width: 260px;
}

.fadeUp-logo {
    animation: fadeUpAnime-logo 1.0s forwards;
    opacity: 0;
}

@keyframes fadeUpAnime-logo {
    from {
        opacity: 0;
        transform: translateY(100px)
    }

    to {
        opacity: 1;
        transform: translateY(0) rotateZ(45deg);
    }
} */

/* ..................................................... */



.top-wrap {
    background-color: #fff;
    width: 95%;
    height: 75vh;
    border: #333 solid 5px;
    border-radius: 5px;
    position: absolute;
    top: 100px;
    left: 20px;
    z-index: 1;
}

.top-logo-wrap {
    max-width: 890px;
    margin: 0 auto;
}

.top {
    width: 890px;
    height: 210px;
    background: url(../images/logo-tokei.png) no-repeat center;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

h1 {
    font-family: atrament-web, sans-serif;
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
}

.top-wrap-yellow {
    width: 95%;
    height: 75vh;
    border: #d1af10 solid 5px;
    border-radius: 5px;
    position: absolute;
    top: 130px;
    right: 20px;
}

.index-main {
    padding-top: 80vh;
}

/* index-works */

.works-bg {
    background: url(../images/bg.jpg) center repeat;
    background-size: contain;
    width: 100%;
    padding: 20px;
}

#works {
    padding: 0;
    margin-bottom: 0;
}

#works h2 {
    color: #fff;
}

.works-ul {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-evenly;
}

.works-wrap {
    background-color: #f3f3f3;
    width: 350px;
    padding: 20px;
    margin: 20px auto;
}

.works-img-wrap {
    position: relative;
}

.andmore-works .works-img-wrap {
    width: 300px;
    height: 250px;
    margin: 0 auto 80px;
}

.click-wrap {
    position: absolute;
    bottom: 0;
    right: 20px;
}

.click p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 70px;
    color: #333;
}

.click p::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
}

.click p::after {
    content: "";
    transform: rotate(45deg);
    width: 6px;
    height: 6px;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
}

.works1 {
    background-image: url(../images/animal-cafe-large.jpg);
}

.works2 {
    background-image: url(../images/school-large.png);
}

.works3 {
    background-image: url(../images/bc.png);
}

.works1,
.works2,
.works3 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 200px;
    object-fit: contain;
    border: #bbb 1px solid;
    margin: 0 auto;
    transition: 0.3s ease;
}

.works1:hover,
.works2:hover {
    opacity: 0.5;
}

.works-description {
    height: 400px;
    overflow: auto;
}

.works-title {
    font-size: 18px;
}

.works-title1 span {
    font-family: 'Aoboshi One', serif;
}

.works-title2 span {
    font-family: 'Sawarabi Gothic', sans-serif;
}

.works-title3 span {
    font-family: atrament-web, sans-serif;
}

.works-title1,
.works-title2,
.works-title3 {
    font-size: 18px;
    margin-bottom: 30px;
}

.works-ul li {
    list-style: none;
}

.works-description dt {
    margin-bottom: 8px;
    font-weight: bold;
}

.works-description dd {
    margin-bottom: 25px;
}

.works-description dd::after {
    content: "";
    border-bottom: #d1af10 1.5px solid;
    width: 100px;
    display: block;
    margin: 25px auto;
}

.works-description dd:last-child::after {
    content: none;
}

.works-description-ul li::before {
    content: "・";
}

.margin-top {
    margin-top: 25px;
}

.obsession p {
    margin-bottom: 25px;
}

.works-andmore a {
    font-family: atrament-web, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 30px 43px 30px 30px;
    width: 260px;
    color: #333;
    font-size: 24px;
    text-decoration: none;
    background-color: #d1af10;
    border-radius: 5px;
    transition: .3s ease;
}

.works-andmore a::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: #f3f3f3;
    border-radius: 20px;
}

.works-andmore a::after {
    content: "";
    transform: rotate(45deg);
    width: 6px;
    height: 6px;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
}

.works-andmore a:hover {
    opacity: 0.7;
}

/* works-fadeup */
.box {
    opacity: 0;
}

.fadeUp {
    animation: fadeUpAnime 0.8s forwards;
    opacity: 0;
}

@keyframes fadeUpAnime {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* .............................. */

/* index portfolio */

#portfolio {
    width: 100%;
    padding: 20px;
    position: relative;
}

.sand-frame-top,
.sand-frame-bottom {
    background: url(../images/sand.png) no-repeat;
    background-size: contain;
    width: 550px;
    height: 550px;
    position: absolute;
    z-index: -1;
}

.sand-frame-top {
    transform: rotate(270deg);
    top: 0;
    right: 0;
}

.sand-frame-bottom {
    transform: rotate(90deg);
    bottom: 0;
    left: 0;
}

#portfolio h2 {
    margin-bottom: 30px;
}

.portfolio-subtitle {
    font-family: atrament-web, sans-serif;
    font-size: 25px;
    margin: 50px 0 15px;
}

.portfolio-obsession-wrap {
    max-width: 970px;
    margin: 0 auto;
}

.portfolio-obsession {
    margin-bottom: 40px;
}

.portfolio-description p {
    margin-bottom: 15px;
}


.portfolio-logo1 {
    width: 270px;
    height: 100%;
    margin-bottom: 20px;
}

/* ................................................. */

/* index-contact */

#contact {
    margin-bottom: 70px;
}

.contact-description {
    margin: 0 auto 50px;
    max-width: 600px;
}

.contact-description span {
    font-weight: bold;
}

.contact-description p {
    display: inline-block;
    text-align: left;
    margin-bottom: 15px;
}

.contact-description>div:last-child p::before {
    content: "※";
}

.form-dl {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.form-dl dt {
    font-size: 18px;
    text-align: right;
    background-color: #f3f3f3;
    width: 40%;
    padding: 10px;
    margin-bottom: 20px;
}

.comment {
    padding: 70px 10px !important;
}

.form-dl dd {
    font-size: 18px;
    width: 60%;
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 5px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 5px;
}

.submit-btn {
    text-align: center;
}

.submit-btn {
    font-family: irohamaru, sans-serif;
    background-color: #f3f3f3;
    border: #d1af10 solid 2px;
    border-radius: 2px;
    padding: 14px 30px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.3s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
}

.submit-btn::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    padding: 24px 46px;
    border: 2px solid #333;
    border-radius: 2px;
    transition: 0.2s;
}

.submit-btn:hover {
    text-decoration: none;
    background-color: #d1af10;
    cursor: pointer;
}

.submit-btn:hover::before {
    top: -2px;
    left: -2px;
}

/* footer */

#footer {
    background-color: #d1af10;
    width: 100%;
    height: 30px;
}

#footer p {
    font-family: atrament-web, sans-serif;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    padding-top: 7px;
}

/*                                           */

/* andmore.html */

.andmore-top-wrap {
    background-color: #fff;
    width: 95%;
    height: 300px;
    border: #333 solid 5px;
    border-radius: 5px;
    position: absolute;
    top: 100px;
    left: 20px;
}

.andmore-top-wrap-yellow {
    width: 95%;
    height: 300px;
    border: #d1af10 solid 5px;
    border-radius: 5px;
    position: absolute;
    top: 150px;
    right: 20px;
    z-index: -1;
}

.andmore-top-wrap h1 {
    font-family: atrament-web, sans-serif;
    font-weight: normal;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.andmore-top-wrap h1 span {
    font-size: 80px;
}

.andmore-body main {
    padding: 450px 25px 0;
}

.andmore-menu {
    right: 50px;
}

.andmore-menu-ul {
    list-style: none;
}

.andmore-menu-ul li {
    text-align: left;
    padding-left: 100px;
    line-height: 3.0;
}

.andmore-menu-ul li a {
    text-decoration: none;
    font-family: atrament-web, sans-serif;
    color: #333;
    font-size: 30px;
    display: inline-block;
    position: relative;
    transition: .3s;
}

.andmore-menu-ul li a::after {
    width: 0;
    height: 2px;
    content: '';
    background-color: #d1af10;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .3s;
}

.andmore-menu-ul li a:hover {
    color: #d1af10;
}

.andmore-menu-ul li a:hover::after {
    width: 100%;
}

.andmore-works-box {
    max-width: 1000px;
    margin: 0 auto 100px;
}

.andmore-works {
    display: flex;
    gap: 50px;
    padding: 25px 25px 0;
}

.andmore-works a {
    transition: 0.3s ease;
}

.andmore-works a:hover {
    opacity: 0.5;
}

.andmore-works img {
    max-width: 300px;
    height: 250px;
    object-fit: contain;
    border: #333 1px solid;
}

.andmore-works-description-title {
    font-weight: bold;
    margin-bottom: 30px;
}

.andmore-works-description p {
    margin-bottom: 15px;
}

.andmore-tools::before {
    content: "▶︎";
}

.andmore-tools span::before {
    content: ":";
}

/* 以下レスポンシブ対応 */

/* @media screen and (max-width:1080px) {

    .top-wrap,
    .top-wrap-yellow {
        width: 90%;
    }



    .prof-img {
        margin: 0 auto;
        margin-bottom: 50px;
    }
    
    .frontdev-img,
    .backdev_img {
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .andmore-top-wrap,
    .andmore-top-wrap-yellow {
        width: 90%;
    }

}

@media screen and (max-width:970px) {
    .top {
        display: none;
    }

    .top-logo-wrap {
        padding-top: 50px;
    }

    .top-sp-wrap {
        width: 300px;
        margin: 0 auto;
    }

    .top-sp-image {
        background: url(../images/logo_bar_ver2.png) center no-repeat;
        background-size: contain;
        width: 250px;
        height: 250px;
        margin: 0 auto 20px;
    }

    h1 {
        padding-bottom: 5px;
        bottom: 0;
    }
}

@media screen and (max-width:860px) {
    h2::before {
        margin-left: 0;
    }
}

@media screen and (max-width:767px) {

    #header {
        padding-bottom: 70px;
    }

    .header-top {
        height: 70px;
    }

    .header-top-logo {
        height: 70px;
        margin-left: -30px;
    }

    .g-nav {
        background: rgba(245, 245, 245, 0.9);
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: 999;
        top: -120%;
        left: 0;
        transition: all 0.6s;
    }

    .g-nav ul {
        display: inline-block;
        width: 450px;
        height: 70px;
        position: absolute;
        z-index: 999;
        top: 200px;
        left: 50%;
        transform: translateX(-50%);
    }

    .g-nav ul li {
        margin-bottom: 20px;
    }

    .g-nav ul li a::after {
        bottom: 0;
    }

    .g-nav.panelactive {
        top: 0;
    }

    .g-nav li {
        text-align: center;
    }

    .g-nav li a {
        color: #333;
        font-size: 20px;
        letter-spacing: 0.1em;
        text-decoration: none;
        padding: 10px;
        display: block;
    }

    .openbtn {
        width: 50px;
        height: 50px;
        position: fixed;
        z-index: 9999;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

    .openbtn span {
        background-color: #333;
        border-radius: 2px;
        width: 45%;
        height: 3px;
        display: inline-block;
        position: absolute;
        left: 14px;
        transition: all .4s;
    }

    .openbtn span:nth-of-type(1) {
        top: 15px;
    }

    .openbtn span:nth-of-type(2) {
        top: 23px;
    }

    .openbtn span:nth-of-type(3) {
        top: 31px;
    }

    .openbtn.active span:nth-of-type(1) {
        width: 30%;
        top: 18px;
        left: 18px;
        transform: translateY(6px) rotate(-45deg);
    }

    .openbtn.active span:nth-of-type(2) {
        opacity: 0;
    }

    .openbtn.active span:nth-of-type(3) {
        width: 30%;
        top: 30px;
        left: 18px;
        transform: translateY(-6px) rotate(45deg);
    }

    .top-wrap {
        top: 70px;
        left: 5px;
    }

    .top-wrap-yellow {
        top: 120px;
        right: 5px;
    }

    h2 {
        padding-top: 80px;
    }

    #about {
        margin: 70px 0;
    }

    .works-andmore a {
        width: 200px;
        padding: 10px 23px 10px 10px;
    }

    .works-andmore a::before {
        right: 10px;
    }

    .contact-message {
        text-align: left;
    }

    .form-dl {
        display: block;
    }

    .form-dl dt {
        text-align: left;
        width: 40%;
        margin-bottom: 0;
    }

    .comment {
        padding: 10px !important;
    }

    .form-dl dd {
        width: 100%;
        margin-bottom: 30px;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"] {
        padding: 8px;
    }

    .andmore-top-wrap {
        top: 70px;
        left: 5px;
    }

    .andmore-top-wrap-yellow {
        top: 120px;
        right: 5px;
    }

    .andmore-works {
        display: block;
    }

    .andmore-works img {
        margin: 0 auto 50px;
    }

    .click-higuma {
        margin-top: 0;
    }
}

@media screen and (max-width:660px) {

    .sand-frame-top,
    .sand-frame-bottom {
        width: 300px;
        height: 300px;
    }

    .form-dl dt {
        width: 100%;
    }
}

@media screen and (max-width:400px) {

    h3 {
        font-size: 35px;
    }

    h3 span {
        font-size: 65px;
    }

    #portfolio h2 {
        margin-bottom: 50px;
    }

    .works-andmore a {
        left: 50%;
        transform: translateX(-50%);
    }

    .portfolio-obsession {
        margin-bottom: 80px;
    }

    .andmore-body main {
        padding-left: 10px;
        padding-right: 10px;
    }
} */